/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0px;
  }
}

/*logo et Nav*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

header img {
  width: 61px;
  height: 19px;
  padding: 30px 0px;
}

header a {
  padding-top: 16px;
  border-top: #ffffff 2px solid;
}

header a:hover {
  color: #0065fc;
  border-color: #0065fc;
}

.navigation {
  display: flex;
  gap: 68px;
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header a {
    border-top: none;
    padding-top: 0px;
    padding-bottom: 15px;
    border-bottom: #ffffff 2px solid;
    width: 100%;
  }

  header a:hover {
    border-top: none;
    color: #0065fc;
    border-color: #0065fc;
  }

  .navigation {
    display: flex;
    text-align: center;
    gap: 0px;
    width: 100%;
  }
}

/*Headline*/
.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  font-size: 22px;
}

@media (max-width: 768px) {
  .headline {
    padding: 0px 20px;
  }
}

/*barre de Recherche*/
form {
  display: flex;
  align-items: center;
}

.recherche {
  border: 1px solid #f2f2f2;
  padding: 15px 24px 15px 24px;
  width: 150px;
}

.fa-location-dot {
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 16px;
  border: 1px solid #f2f2f2;
}

::placeholder {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 147px;
}

.search {
  border: solid 1px #0065fc;
  background-color: #0065fc;
  color: #ffffff;
  padding: 15px 16px;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
}

.fa-magnifying-glass {
  display: none;
}

@media (max-width: 768px) {
  form {
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }

  .recherche {
    width: 100%;
  }

  .search span {
    display: none;
  }

  .search {
    border: solid 1px #0065fc;
    background-color: #0065fc;
    padding: 15px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .fa-magnifying-glass {
    color: #ffffff;
    display: inline;
  }
}

/*Filtre*/
.filter h3 {
  padding-top: 15px;
}

.filter {
  display: flex;
  gap: 15px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter div {
  display: flex;
  gap: 15px;
}

.filter button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 19px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  font-weight: bold;
  background-color: #ffffff;
}

.filter .fa-solid {
  font-size: 19px;
}

.filters button:hover {
  background-color: #deebff;
}
@media (max-width: 1024px) {
  .filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .filters {
    gap: 15px;
    flex-wrap: wrap;
  }

  .filter {
    padding: 0px 20px 0px 20px;
  }

  .filters button {
    min-width: 35%;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 14px;
  }
}

/*info*/
.infobar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bulleinfo {
  border-radius: 50px;
  border: #d9d9dd 1px solid;
  width: 24px;
  height: 24px;
}

.fa-info {
  font-size: 12px;
  padding: 6px 10px;
}

@media (max-width: 768px) {
  .infobar {
    padding: 0px 20px 0px 20px;
  }
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

@media (max-width: 768px) {
  .hebergements-and-populaires section {
    border-radius: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/****** Hebergements ***********/
.offers-title {
  margin: 0;
  font-size: 22px;
  margin-bottom: 30px;
}

.offers-cards article {
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px 15px 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 215px;
  width: 250px;
}

.offers-cards a {
  margin-top: 0px;
}

.offers-cards img {
  object-fit: cover;
}

.offer-card-content h3 {
  font-size: 16px;
  padding-bottom: 8px;
}

.offer-card-content p {
  padding-bottom: 8px;
  font-size: 14px;
}

.see-more {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
}

.offers {
  width: 65%;
}

.offers-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.offers-cards img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 4px;
}

.offers-cards .offer-card-content {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .offers {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hebergements-and-populaires .offers {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
  }

  .offers-cards article {
    width: 100%;
  }

  .offers-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .offers h2 {
    margin-bottom: 15px;
  }
}

/****** Populaires ***********/
.section-title {
  margin: 0;
  font-size: 22px;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .populaires-cards a {
    width: 100%;
  }

  .populaires {
    order: -1;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  .populaires-title {
    width: 100%;
  }
}

/*Activités à Marseille*/
.activitys {
  padding: 30px;
}

.activitys h2 {
  font-size: 22px;
  padding-bottom: 30px;
}

.activity-card {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.activitys a {
  flex-grow: 1;
  flex-basis: 0;
}

.activity-card img {
  object-fit: cover;
  width: 100%;
  height: 375px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activitys h3 {
  box-sizing: border-box;
  height: 59px;
  margin-top: -4px;
  padding: 0px 17px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.activitys div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media (max-width: 1024px) {
  .activity-card {
    height: 270px;
  }

  .activity-card img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .activitys div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .activity-card {
    width: 100%;
    height: 200px;
  }

  .activity-card img {
    height: 141px;
  }

  .activitys div a {
    width: 100%;
    flex-grow: unset;
    flex-basis: unset;
  }
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  margin-top: 35px;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer div {
    padding: 0px 30px 0px 30px;
  }
}
